body {
margin: 0;
font-family: sans-serif;
background: linear-gradient(135deg, #74ebd5 , #ACB6E5);
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
}

.container{
    background: rgba(255,255,255,0.2);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0,0,0,0.5);
    color: #fff;
    width: 320px;
 }